{% set title = "About Myles" %}
{% extends "_layout.html" %}
{% block body %}
<article>
  <h1>About Myles</h1>
  <img
    id="profile"
    src="/img/myles.png"
    alt="Placeholder"
  />
  <p>Welcome, reader. My name is Myles Hathcock, this is my personal site
  dedicated to primarily technical topics in programming, computer science,
  engineering, and associated fields. I currently work as an engineer at a
  proprietary trading firm based out of Chicago. I focus mostly on designing
  and implementing algorithms and systems that process large volumes and
  cardinalities of data.</p> <p>Beyond my work in the tech sector, I enjoy
  spending time with my family and am an avid runner. Please feel free to reach
  out to me with questions or comments on twitter or email or have a look at my
  open-source projects.</p>

  <table>
    <tbody>
      <tr>
        <td>GitHub</td>
        <td>
          <code>
            <a href="https://github.com/@my1es">@my1es</a>
          </code>
        </td>
      </tr>
      <tr>
        <td>Twitter</td>
        <td>
          <code>
            <a href="https://twitter.com/@__my1es">@__my1es</a>
          </code>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <code>
            <a href="mailto:deter-some-scrapers@mail.com">mhathcock at google email</a>
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</article>
{% endblock %}
