@import "modern-normalize.css"

body
  color-scheme: light dark
  color: CanvasText
  background-color: Canvas
  font-size: 18px

body
  margin: 0 auto
  max-width: 700px

h1, h2, h3, h4, h5, h6
  font-weight: normal

nav
  ul
    padding: 0
    li
      display: inline

  a
    color: CanvasText
    text-decoration: none

  border-bottom: 1px solid CanvasText
  display: flex
  flex-direction: row
  justify-content: flex-end
