// Font stacks taken from:
// https://gist.github.com/don1138/5761014

*,*:before,*:after
  box-sizing: border-box

html
  font-size: 62.5%

body
  color: var(--color-fg)
  font-family: "Open Sans", sans-serif
  font-size: 1.6em
  line-height: 1.5

code, pre
  font-family: "Hack", monospace
  font-size: 0.9em

html,body
  margin: 0
  padding: 0
