*,*:before,*:after
  box-sizing: border-box

html
  font-size: 62.5%

body
  color: var(--color-fg)
  font-family: Arial, sans-serif
  font-size: 1.6em
  line-height: 1.6

html,body
  margin: 0
  padding: 0
