//
// Much of the overall design is borrowed from the way 
// [Milligram](https://milligram.io/) is set up. 
// It's a great project 👍
//

@import "_vendor/normalize"
@import "_vars"
@import "_base"
@import "_typography"
@import "_nav"

.container
  width: 100%
  padding: $padding

nav
  a
    font-weight: normal
  hgroup
    h1
      margin-bottom: 0
  ul
    padding: 0
    margin: 0

hgroup.post-header
  margin-bottom: 3.0rem
  h1
    margin-bottom: 0
  p
    margin-top: 0
    font-weight: normal
    color: gray
    font-size: $font-size-med

table.archives
  td.date
    padding-right: 0.5rem

article.license
  margin-top: 3.0rem
  font-size: $font-size-small
  font-style: italic

@media screen and (min-width: 750px)
  .container
    max-width: 650px
    margin: 0 auto
